{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                {% if object.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1"
                           href="{% url 'post-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            <hr>
            <a href="#" id="like"><i class="material-icons"
                                     style="font-size:20px;color:darkgreen">thumb_up</i></a>
            <span id="liked">0</span>
            <a href="#" id="dislike"><i class="material-icons"
                                        style="font-size:20px;padding-left: 25px;color:red">thumb_down</i></a>
            <span id="disliked">0</span>
        </div>
    </article>

{% endblock %}
